<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pres.haimi.springboot.dao.CityDao">
    <resultMap id="BaseResultMap" type="City">
        <id column="id" property="id"/>
        <result column="province_id" property="provinceId" />
        <result column="city_name" property="cityName" />
        <result column="description" property="description" />
    </resultMap>

    <sql id="Base_Column_List">
        id, province_id, city_name, description
    </sql>

    <select id="findByName" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM city
        WHERE city_name=#{cityName}
    </select>
</mapper>