<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot-dubbo-client:war exploded">
    <output-path>$PROJECT_DIR$/springboot-dubbo-client/target/springboot-dubbo-client</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-dubbo-client" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springboot-dubbo-client/target/springboot-dubbo-client/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springboot-dubbo-client/web/Web" />
    </root>
  </artifact>
</component>