<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot-mybatis-mutil-datasource:war exploded">
    <output-path>$PROJECT_DIR$/springboot-mybatis-mutil-datasource/target/springboot-mybatis-mutil-datasource</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-mybatis-mutil-datasource" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springboot-mybatis-mutil-datasource/target/springboot-mybatis-mutil-datasource/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springboot-mybatis-mutil-datasource/web/Web" />
    </root>
  </artifact>
</component>