<component name="ArtifactManager">
  <artifact type="war" name="springboot-mybatis-redis:war">
    <output-path>$PROJECT_DIR$/springboot-mybatis-redis/target</output-path>
    <root id="archive" name="springboot-mybatis-redis.war">
      <element id="artifact" artifact-name="springboot-mybatis-redis:war exploded" />
    </root>
  </artifact>
</component>