<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot-validation-over-json:war exploded">
    <output-path>$PROJECT_DIR$/springboot-validation-over-json/target/springboot-validation-over-json</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-validation-over-json" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springboot-validation-over-json/target/springboot-validation-over-json/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springboot-validation-over-json/web/Web" />
    </root>
  </artifact>
</component>