<component name="ArtifactManager">
  <artifact type="war" name="springboot-restful:war">
    <output-path>$PROJECT_DIR$/springboot-restful/target</output-path>
    <root id="archive" name="springboot-restful.war">
      <element id="artifact" artifact-name="springboot-restful:war exploded" />
    </root>
  </artifact>
</component>